body {
	background-color: #d5d5d5;
	color: #35312c;
}

a, .current-link {
	color: #154bbf;

	/* Fat Finger Settings */
	height: 48px;
	min-width: 48px;

	display: inline-block;
	line-height: 48px;
}

a.no-style {
	color: inherit;
	height: inherit;
	min-width: inherit;
	display: inherit;
	line-height: inherit;
	text-decoration: inherit;
}

.current-link {
	color: inherit;
}

.center-text {
	text-align: center;
}