/* General Form Settings */
form {
    width: 100%;
    max-width: 425px;
    /*margin: 0 auto 0 auto;*/
}

form div {
    margin-top: 10px;
}

fieldset {
    border: 2px groove #7f6b54;
}

legend {
    width: 100%;
}

textarea {
    width: 100%;
}

input[type="file"] {
    max-width: 234px;
    height: 48px;
    line-height: 45px;
}

.input-label {
    width: 100%;
    min-width: 120px;
    order: 0;
}

.error {
    order: 5;
}

.input-field {
    width: 100%;
    order: 10;
}

@media screen and (min-width: 375px) {
    .error {
        order: 0;
    }

    .input-label {
        order: 5;
    }
}

@media screen and (min-width: 425px) {
    .input-label {
        width: auto;
    }

    .input-field {
        max-width: 230px;
    }

    textarea.input-field {
        max-width: 228px;
    }
}
@media screen and (min-width: 1024px) {
    input[type="file"] {
        height: auto;
        line-height: inherit;
    }
}

/* Force error in middle of label and input */
.error-middle {
    order: 7;
}
